# MongoDB Connection String
# Replace with your MongoDB Atlas cloud string: mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/ruhi_sales_hisab
MONGODB_URI=mongodb://localhost:27017/ruhi_sales_hisab

# Express Backend Port
PORT=5000
